extends layout

include _includes/sharedHTMLfunctions

block content
  header.row.page-header
    h1= location.name
  main.row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(location.rating)
          p= location.address
            .panel.panel-primary
              .panel-heading
                h2.panel-title Opening hours
              .panel-body
                each openingDay in location.openingTimes
                  p
                    | #{openingDay.days}: 
                    if openingDay.closed
                      | closed
                    else
                      | #{openingDay.opening} - #{openingDay.closing}
            .panel.panel-primary
              .panel-heading
                h2.panel-title Facilities
              .panel-body
                ul.tags
                  each facility in location.facilities
                    li
                      span.label.label-warning
                        span.glyphicon.glyphicon-ok &nbsp; #{facility}
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690844&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href="/location/review/new") Add review
              h2.panel-title Customer reviews
            .panel-body.review-container
              each review in location.reviews
                .row
                  .review
                    .well.well-sm.review-header
                      span.rating
                        +outputRating(review.rating)
                      span.reviewAuthor= review.author
                      small.reviewTimestamp= review.timestamp
                    .col-xs-12
                      p= review.reviewText
    aside.col-xs-12.col-md-3
      p.lead= sidebar[0]
      p= sidebar[1]
